@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family:  Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin:0;
}

.header{
    display:flex;
    padding: 3px;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    text-shadow:1px 1px black;
}

.hero{
    background-color: #1F2937;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    padding: 105px 200px;
    padding-top: 105px;
    padding-bottom: 105px;
    padding-right:160px;
    padding-left:220px;
}

.hero-heading{
    font-size: 65px;
    font-weight: 800;
    color:#F9FAF8;
}

.hero-secondary{
    font-size: 24px;
    color: #E5E7EB;
    padding-top:5px;
    padding-bottom:15px;
}

.signup{
    background-color:#3882F6;
    border:none;
    color:white;
    padding:12px 32px;
    font-size:18px;
    font-weight: 700;
    border-radius:8px;
}

.hero img{
    width:1000px;
    height: 300px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information{
    text-align: center;
}

.information-header{
    font-size: 36px;
    font-weight: 700;
    color:#1F2937;
    padding:40px;
}
.information-body{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color:#E5E7EB;
}

.item{
    max-width: 200px;
}

.item .text{
    color:#1F2937;
}

.information-img{
    border: 3px solid #3882F6;
    border-radius: 15px;
}

ul{
    list-style-type: none;
    display: flex;
    gap:18px;
    font-size: 18px;
}